# Системные файлы macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo

# Системные файлы Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Временные файлы Python
*.py[cod]
*$py.class
__pycache__/

# Файлы логов
*.log
*.pot

# Виртуальные окружения Python
env/
.venv/
ENV/
env.bak/
venv.bak/

# Библиотеки и сборки
lib/
lib64/
parts/
sdist/
wheels/
pip-log.txt
pip-delete-this-directory.txt

# Файлы тестирования
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Бинарные файлы
*.pyc
*.pyo
*.exe
*.dll
*.so
*.dylib

# Секретные и конфигурационные файлы
.env
config.py
local_settings.py

# Django файлы
db.sqlite3
staticfiles/
instance/
celerybeat-schedule
*.mo
*.pot

# IDE и редакторы
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sublime-project
*.sublime-workspace

# Документация
site/
docs/_build/

# Другие временные и ненужные файлы
*.~undo-tree~
*~
*.tmp
*.bak
*.orig
*.rej
*.swp
*.swo
*~

# Исключение: файлы Excel и Word в папке media
!media/*.xlsx
!media/*.docx