{% extends 'dogovornoy/base.html' %}
{% load static %}

{% block content %}
<div class="pagetitle">
    <h1>Карточка клиента</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'card_list' %}">Назад к списку</a></li>
            <li class="breadcrumb-item active">Карточка клиента</li>
        </ol>
    </nav>
</div>
<p></p>



    <!-- Button to open modal -->
<button type="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTaskModal">Создать заявку</button>

<!-- Modal -->
<div class="modal fade" id="createTaskModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form id="taskForm" method="POST" action="{% url 'create_task' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Создать задачу</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select id="userSelect" class="form-select">
                        <!-- Options added by JavaScript -->
                    </select>
                    <p></p>
                    <p></p>
                    <div id="reasonChecks">
                        <!-- Checkboxes added by JavaScript -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Отправить в Telegram</button>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="card col-lg-12" style="border-radius: 10px;margin: 10px auto;padding: 20px">
    <h3>{{ card.objectname }}</h3>
    <p></p>
    <p><strong>Модуль: </strong>{{ card.basenumber.name}}-{{ card.unitnumber }}</p>
    <p><strong>Объект: </strong>{{ card.orgid.name}}-{{ card.otisnumber }}</p>
    <p><strong>Договор: </strong> {{ card.agreement }}</p>
    <p><strong>Обслуживание: </strong>
        {% if card.isprotected == '1' %}
            Да
        {% else %}
            Нет
        {% endif %}
    </p>
    <p><strong>Адрес: </strong> {{ card.info }}</p>
    <p><strong>Телефон: </strong> {{ card.phones }}</p>
    <p><strong>Экипаж: </strong> {{ card.callsign }}-{{ card.callnumber }}</p>
    <p></p>

    <h3>Зоны объекта</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Раздел</th>
                <th>Номер зоны</th>
                <th>Тип</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for zone in zones %}
            <tr>
                <td>{{ zone.sectionid.sectionname }}</td>
                <td>{{ zone.zonenumber }}</td>
                <td>{{ zone.type }}</td>
                <td>{{ zone.info }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Тревоги</h2>
    <div id="alarms-container" class="alarms-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Тревоги</th>
                    <th>Зона</th>
                    <th>Причина</th>
                    <th>Кол-во тревог</th>
                    <th>Время приема</th>
                    <th>Время подтверждения</th>
                    <th>Время отработки</th>
                    <th>Восстановление</th>
                    <th>Последнее</th>
                    <th>Посылка в ЕКЦ</th>
                    <th>Прием в ЕКЦ</th>
                    <th>Подтв в ЕКЦ</th>
                </tr>
            </thead>
            <tbody>
                {% for alarm in alarms %}
                <tr>
                    <td>{{ alarm.alarmid }}</td>
                    <td>{{ alarm.zoneid.zonenumber }}</td> <!-- Use the ForeignKey to access zonenumber -->
                    <td>{{ alarm.reason.name }}</td> <!-- Use the ForeignKey to access zonenumber -->
                    <td>{{ alarm.receivecount }}</td> <!-- Use the ForeignKey to access zonenumber -->
                    <td>{{ alarm.receivetime }}</td>
                    <td>{{ alarm.confirmtime }}</td>
                    <td>{{ alarm.processtime }}</td>
                    <td>{{ alarm.recovertime }}</td>
                    <td>{{ alarm.lastreceivetime }}</td>
                    <td>{{ alarm.sendtime_deg }}</td>
                    <td>{{ alarm.receivetime_deg }}</td>
                    <td>{{ alarm.confirmtime_deg }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a id="toggle-alarms" class="">Показать все тревоги</a>
</div>

<script>
    document.getElementById('toggle-alarms').addEventListener('click', function() {
        var container = document.getElementById('alarms-container');
        var button = document.getElementById('toggle-alarms');
        if (container.classList.contains('collapsed')) {
            container.classList.remove('collapsed');
            button.textContent = 'Скрыть тревоги';
        } else {
            container.classList.add('collapsed');
            button.textContent = 'Показать все тревоги';
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
    const fetchAndPopulate = (url, elementId, isCheckbox) => {
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById(elementId);
                data.forEach(item => {
                    const elem = isCheckbox ? document.createElement('input') : document.createElement('option');
                    if (isCheckbox) {
                        elem.type = 'checkbox';
                        elem.value = item.id;
                        const label = document.createElement('label');
                        label.textContent = item.name;
                        label.appendChild(elem);
                        container.appendChild(label);
                    } else {
                        elem.textContent = item.name;
                        elem.value = item.id;
                        container.appendChild(elem);
                    }
                });
            });
    };

    {#fetchAndPopulate('{% url "api_technicians" %}', 'userSelect', false);#}
    {#fetchAndPopulate('{% url "api_task_reasons" %}', 'reasonChecks', true);#}
});


    document.addEventListener('DOMContentLoaded', function() {
    fetch('{% url "api_technicians" %}')
        .then(response => response.json())
        .then(data => {
            const select = document.getElementById('userSelect');
            data.forEach(user => {
                const option = new Option(user.name, user.id);
                select.add(option);
            });
        });
});


    document.addEventListener('DOMContentLoaded', function() {
    fetch('{% url "api_task_reasons" %}')
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById('reasonChecks');
            data.forEach(reason => {
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.id = 'reason-' + reason.id;
                checkbox.value = reason.id;
                const label = document.createElement('label');
                label.htmlFor = 'reason-' + reason.id;
                label.textContent = reason.name;
                container.appendChild(checkbox);
                container.appendChild(document.createTextNode(' ')); // Добавить пробел для отступа
                container.appendChild(label);
                container.appendChild(document.createElement('br')); // Добавить перевод строки
            });
        });
});


</script>

<style>
    .alarms-container {
        max-height: 200px; /* Set the desired height */
        overflow: hidden;
        transition: max-height 0.5s ease;
    }
    .alarms-container.collapsed {
        max-height: none;
    }
</style>

{% endblock %}
