{% extends 'dogovornoy/base.html' %}
{% load static %}


{% block content %}

<!-- Recent Page Title -->
<div class="pagetitle">
    <h1>База Raptor</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
            <li class="breadcrumb-item active">База Raptor</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->
<style>
	table.iksweb{text-decoration: none;border-collapse:collapse;width:100%!important;text-align:center; border-radius: 10px!important;}
	table.iksweb th{font-weight:500;font-size:14px; color:#ffffff;background-color:#354251;text-align: center!important;}
	table.iksweb td{font-size:13px;color:#354251;}
	table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:15px 10px!important;line-height:13px;vertical-align: middle;border: 1px solid #354251;}
	table.iksweb tr:hover{background-color:#cad9eb}
	table.iksweb tr:hover td{color:#354251;cursor:pointer;}
    .mobile-table{width: 100%; max-width: 100%; overflow-x: auto;}
    .search-input {width: 100%; box-sizing: border-box;}
    .dataTables_filter {margin: 10px 0;}
    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0.5em 1em;
        margin-left: 0.2em;
        margin-right: 0.2em;
        background: #354251;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        line-height: 70px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background: #cad9eb;
        color: #354251;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        background: #ffffff;
        color: #354251;
    }
</style>


<div class="mobile-table">
    <table id="datatable" class="dataTable iksweb">
        <thead>
            <tr>
                <th>Модуль</th>
                <th>Объект</th>
                <th>Договор</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Обсл.</th>
                <th>Адрес</th>
                <th>Телефон</th>
                <th>Экипаж</th>
                <th></th>
            </tr>
            <tr>
                <th><input type="text" class="search-input"></th>
                <th><input type="text" class="search-input"></th>
                <th><input type="text" class="search-input"></th>
                <th><input type="text" class="search-input"></th>
                <th><input type="text" class="search-input"></th>
                <th><input type="text" class="search-input"></th>
                <th><input type="text" class="search-input"></th>
                <th><input type="text" class="search-input"></th>
                <th><input type="text" class="search-input"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            <tr>
                <td>{{ card.basenumber.name}}-{{ card.unitnumber }}</td>
                <td>{{ card.orgid.name}}-{{ card.otisnumber }}</td>
                <td>{{ card.agreement }}</td>
                <td style="text-align: left;">{{ card.objectname }}</td>
                <td>{{ card.unittype.info }}</td>
                <td>{% if card.isprotected == '1' %}
                        Да
                    {% else %}
                    Нет
                {% endif %}
                </td>
                <td style="text-align: left;">{{ card.info }}</td>
                <td style="text-align: left;">{{ card.phones }}</td>
                <td>{{ card.callsign }}-{{ card.callnumber }}</td>
                <td><a href="{% url 'card_detail' card.pk %}" target="_blank">Карточка клиента</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        var table = $('#datatable').DataTable({
            "paging": true,
            "searching": true,
            "orderCellsTop": true
        });

        $('#datatable thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table.column(i).search(this.value).draw();
                }
            });
        });
    });
</script>

{% endblock %}
