{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Управление фирмой</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'dogovornoy/images/favicon.png' %}" rel="icon">
    <link href="{% static 'dogovornoy/images/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'dogovornoy/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dogovornoy/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'dogovornoy/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'dogovornoy/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'dogovornoy/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
    <link href="{% static 'dogovornoy/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'dogovornoy/vendor/simple-datatables/style.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'dogovornoy/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin - v2.4.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <img src="{% static 'dogovornoy/images/logo.png' %}" alt="" style="max-height: 44px!important;">
            <span class="d-none d-lg-block">Кузет-Сенiм</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input type="text" name="query" placeholder="Поиск" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

{#                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">#}
{#                    <i class="bi bi-bell"></i>#}
{#                    <span class="badge bg-primary badge-number">4</span>#}
{#                </a><!-- End Notification Icon -->#}

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        You have 4 new notifications
                        <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>Lorem Ipsum</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>30 min. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>Atque rerum nesciunt</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>1 hr. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>Sit rerum fuga</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>2 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>Dicta reprehenderit</h4>
                            <p>Quae dolorem earum veritatis oditseno</p>
                            <p>4 hrs. ago</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">Show all notifications</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-chat-left-text"></i>
                    <span class="badge bg-success badge-number">{{ new_tasks_count }}</span>
                </a><!-- End Messages Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                    <li class="dropdown-header">
                        У Вас {{ new_tasks_count }} задачь
                        <a href="{% url 'task_list' %}"><span class="badge rounded-pill bg-primary p-2 ms-2">Перейти</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    {% for task in new_tasks_list %}
                    <li class="message-item">
                        <a href="#">
                            {% if user_profile.avatar %}
{#                            <img src="{{ userprofile.avatar.url }}" alt="Profile" style="height: 80px;border-radius: 51%!important;" rounded-circle>#}
                                <img src="{% static 'dogovornoy/avatars/default_avatar.jpg' %}" alt="Profile" style="height: 80px;border-radius: 51%!important;" rounded-circle>
                             {% else %}
                             <img src="{% static 'dogovornoy/avatars/default_avatar.jpg' %}" alt="Profile" style="height: 80px;border-radius: 51%!important;" rounded-circle>
                        {% endif  %}
                            <div>
                                <h4>{{ task.created_by.username }}</h4>
                                <p><strong>Задача: </strong>{{ task.description }}</p>
                                <p>{{ task.created_at }}</p>
                            </div>
                        </a>
                    </li>
                    {% endfor %}

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="dropdown-footer">
                        <a href="{% url 'task_list' %}">Список всех задач</a>
                    </li>

                </ul><!-- End Messages Dropdown Items -->

            </li><!-- End Messages Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    {% if user.photo %}
        <img src="{{ user.photo.url }}" alt="Profile" rounded-circle>
    {% endif  %}
                    <span class="d-none d-md-block dropdown-toggle ps-2">{% if user.is_authenticated %}
    Приветствую, {{ user.username }}!{% endif %}</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        {% if user_profile.avatar %}
                            <img src="{{ user_profile.avatar.url }}" alt="Profile" style="height: 80px;border-radius: 51%!important;" rounded-circle>
                             {% else %}
                             <img src="{% static 'dogovornoy/avatars/default_avatar.jpg' %}" alt="Profile" style="height: 80px;border-radius: 51%!important;" rounded-circle>
                        {% endif  %}
                        <h6>{{ user.username }}</h6>
                        <span>{{ user_profile.department }}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-person"></i>
                            <span>Профиль</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-gear"></i>
                            <span>Настройки аккаунта</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

<!--                    <li>-->
<!--                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">-->
<!--                            <i class="bi bi-question-circle"></i>-->
<!--                            <span>Need Help?</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Выйти</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->


            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        {% if user_profile.department == 'Директор' or user_profile.department == 'Админ'%}
        <li class="nav-item">
            <a class="nav-link " href="{% url 'home' %}">
                <i class="bi bi-grid"></i>
                <span>Главная</span>
            </a>
        </li><!-- End Главная Nav -->
        {% endif %}


        {% if user_profile.department == 'Договорной отдел' or user_profile.department == 'Админ' or user_profile.department == 'Директор' %}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Договорной</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'baza_dogovorov' %}">
                        <i class="bi bi-circle"></i><span>База наших клиентов</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'baza_partnerov' %}">
                        <i class="bi bi-circle"></i><span>База клиентов партнеров</span>
                    </a>
                </li>

                {% if user_profile.department == 'Договорной отдел' %}
                    <li>
                        <a href="{% url 'add_client' %}">
                            <i class="bi bi-circle"></i><span>Новый клиент</span>
                        </a>
                    </li>
                {% endif %}

                {% if user_profile.department == 'Договорной отдел' %}
                <li>
                    <a href="{% url 'add_client_partner' %}">
                        <i class="bi bi-circle"></i><span>Новый клиент партнеров</span>
                    </a>
                </li>
                {% endif %}

                <li>
                    <a href="{% url 'reports_dog' %}">
                        <i class="bi bi-circle"></i><span>Отчет</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'reports_agentskie' %}">
                        <i class="bi bi-circle"></i><span>Отчет агенские</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'reports_kolvo' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'kts_reports_kolvo' %}">
                        <i class="bi bi-circle"></i><span>Отчет начальство наши компании</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'partner_reports_kolvo' %}">
                        <i class="bi bi-circle"></i><span>Отчет начальство партенеры</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "СГС-Плюс"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_akm' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "АКМ"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_rmg' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "RMG"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_kazkuzet' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "Kaz-Kuzet"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_sgs' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "SGS"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_ipkim' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ИП "Ким"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_kuzets' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "Кузет-С"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_samohvalov' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ИП "Самохвалов"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_sobsecutity' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов TOO "SOB Security"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_eyewatch' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "Eye Watch"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_iviscom' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "IVISCOM"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_eurasian' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "Eurasian Security System"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_bmkz' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "Б.М.kz Security"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_monolit' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "Монолит Секьюрити"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_egida' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "Эгида-Дружина</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_techmart' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "Tech-Mart"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_twojoy' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "2JOY"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_medin' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ТОО "MEDIN"</span>
                    </a>
                </li>


                <li>
                    <a href="{% url 'reports_partners_zhakitov' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ИП "Жакитов"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_partners_alash' %}">
                        <i class="bi bi-circle"></i><span>Отчет кол-во объектов ИП ТОО "Alash Group Kuzet"</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'disconnected_objects' %}">
                        <i class="bi bi-circle"></i><span>Отключенные объекты</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'kolvo_hours_security' %}">
                        <i class="bi bi-circle"></i><span>Количество часов охраны</span>
                    </a>
                </li>
{#                <li>#}
{#                    <a href="{% url 'rekvizity' %}">#}
{#                        <i class="bi bi-circle"></i><span>Реквизиты</span>#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </li><!-- End Договорной Nav -->
        {% endif %}


        {% if user_profile.department == 'Договорной отдел' or user_profile.department == 'Админ' or user_profile.department == 'Технический отдел' or user_profile.department == 'Пульт' or user_profile.department == 'Директор'%}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#ekc-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                <i class="bi bi-shield-shaded"></i><span>ЕКЦ</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="ekc-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'ekcbaza' %}">
                        <i class="bi bi-circle"></i><span>База объектов</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_technician' %}">
                        <i class="bi bi-circle"></i><span>Отчет по Участкам Техников</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reports_crew' %}">
                        <i class="bi bi-circle"></i><span>Отчет по экипажам</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Главная Nav -->
        {% endif %}


        {% if user_profile.department == 'Договорной отдел' or user_profile.department == 'Админ' or user_profile.department == 'Пульт' or user_profile.department == 'Технический отдел' or user_profile.department == 'Директор' or user_profile.department == 'Оператор'%}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#pult-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                <i class="bi bi-server"></i><span>Пульт</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="pult-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                {% if user_profile.department != 'Оператор' %}
                    <li>
                        <a href="{% url 'baza_dogovorov' %}">
                            <i class="bi bi-circle"></i><span>База договоров</span>
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="{% url 'card_list' %}">
                        <i class="bi bi-circle"></i><span>База Raptor</span>
                    </a>
                </li>

                {% if user_profile.department != 'Оператор' %}
                <li>
                    <a href="{% url 'alarm_report' %}">
                        <i class="bi bi-circle"></i><span>Отчет по тревогам</span>
                    </a>
                </li>
                {% endif %}

                <li>
                    <a href="{% url 'technical_task_list' %}">
                        <i class="bi bi-circle"></i><span>Текущие заявки техники</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'archive_technical_task_list' %}">
                        <i class="bi bi-circle"></i><span>Архив заявок техники</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Главная Nav -->
        {% endif %}


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#todolist-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                <i class="bi bi-card-checklist"></i><span>Рабочие задачи</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="todolist-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'task_list' %}">
                        <i class="bi bi-circle"></i><span>Ваши задачи</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'archive_task_list' %}">
                        <i class="bi bi-circle"></i><span>Архив задач</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Главная Nav -->

        {% if user_profile.department == 'Бухгалтерия' or user_profile.department == 'Админ'  or user_profile.department == 'Директор' %}
        <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#buhgalteria-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                    <i class="bi bi-cash-coin"></i><span>Бухгалтерия</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="buhgalteria-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="{% url 'baza_dogovorov' %}">
                            <i class="bi bi-circle"></i><span>База договора</span>
                        </a>
                    </li>


                    {% if user.username == 'Марина' or user.username == 'Ирина' %}
                        <li>
                            <a href="{% url 'baza_partnerov' %}">
                                <i class="bi bi-circle"></i><span>База клиентов партнеров</span>
                            </a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="{% url 'reports_dog' %}">
                            <i class="bi bi-circle"></i><span>Отчет подкл/откл</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End Главная Nav -->
            {% endif %}


            {% if user_profile.department == 'Офис-менеджер' or user_profile.department == 'Админ' %}
                    <li class="nav-item">
                            <a class="nav-link collapsed" data-bs-target="#office_manager-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                                <i class="bi bi-emoji-wink-fill"></i><span>Офис-менеджер</span>
                                <i class="bi bi-chevron-down ms-auto"></i>
                            </a>
                            <ul id="office_manager-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                                <li>
                                    <a href="{% url 'ekcbaza' %}">
                                        <i class="bi bi-circle"></i><span>База ЕКЦ</span>
                                    </a>
                                </li>
                            </ul>
                        </li><!-- End Главная Nav -->
            {% endif %}


        {% if user_profile.department == 'Договорной отдел' or user_profile.department == 'Админ' %}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                <i class="bi bi-arrow-down-circle"></i><span>Импорт в базу</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'importexel' %}">
                        <i class="bi bi-circle"></i><span>Импорт объектов</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'partnerts_importexel' %}">
                        <i class="bi bi-circle"></i><span>Импорт партнеров</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'importvidsign' %}">
                        <i class="bi bi-circle"></i><span>Импорт вид.сигн</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'importrekvizity' %}">
                        <i class="bi bi-circle"></i><span>Импорт реквизитов</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'importekipazh' %}">
                        <i class="bi bi-circle"></i><span>Импорт экипаж</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Главная Nav -->
        {% endif %}


        {% if user_profile.department == 'Склад-передатчики' or user_profile.department == 'Админ' %}
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#sklad_peredatchik_nav" data-bs-toggle="collapse" href="#" aria-expanded="false">
                <i class="bi bi-cpu"></i><span>Склад передатчики</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="sklad_peredatchik_nav" class="nav-content collapse" data-bs-parent="#sklad_peredatchik_nav">
                <li>
                    <a href="{% url 'skladgsm_list' %}">
                        <i class="bi bi-circle"></i><span>Склад GSM</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'add_skaldgsm' %}">
                        <i class="bi bi-circle"></i><span>Выдать/Принять GSM</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'gsm_info' %}">
                        <i class="bi bi-circle"></i><span>Информация о GSM</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'gsm2moduls' %}">
                        <i class="bi bi-circle"></i><span>База модулей</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Главная Nav -->
        {% endif %}



        {% if user_profile.department == 'Админ' %}
        <li class="nav-heading">Сервисные</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-person"></i>
                <span>Профиль</span>
            </a>
        </li><!-- End Профиль Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Настройки</span>
            </a>
        </li><!-- End Настройки Page Nav -->
        {% endif %}

    </ul>


    <div class="modal fade" id="CreateTechnicalTask" tabindex="-1" aria-labelledby="CreateTechnicalTask" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateTechnicalTask">Заявка технику</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'create_technical_task' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="technician_id" class="form-label">Техник:</label>
                        <select name="technician_id" class="form-select" id="userSelect">
                            <!-- Пользователи добавляются через JavaScript -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="reasonChecks">Причины:</label>
                        <div id="reasonChecks"></div>
                    </div>
                    <div class="mb-3">
                        <label for="client_object_id" class="form-label">ID клиента база Raptor:</label>
                        <input type="text" name="client_object_id" class="form-control" id="client_object_id">
                    </div>
                    <div class="mb-3">
                        <label for="note" class="form-label">Заметка:</label>
                        <textarea name="note" class="form-control" id="note"></textarea>
                    </div>

                    <!-- Скрытое поле для хранения строкового списка выбранных причин -->
                    <input type="hidden" name="reason" id="selectedReasonsField">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Отправить задачу</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <script>

document.addEventListener('DOMContentLoaded', function() {
    fetch('{% url "api_technicians" %}')
        .then(response => response.json())
        .then(data => {
            const select = document.getElementById('userSelect');
            data.forEach(user => {
                const optionText = `${user.first_name} ${user.last_name} (${user.username})`;
                const option = new Option(optionText, user.id);
                select.add(option);
            });
        });

    fetch('{% url "api_task_reasons" %}')
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById('reasonChecks');
            data.forEach(reason => {
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.id = 'reason-' + reason.id;
                checkbox.value = reason.reason;  // Используем название причины как значение
                const label = document.createElement('label');
                label.htmlFor = 'reason-' + reason.id;
                label.textContent = reason.reason;

                // Добавляем обработчик изменения для каждого чекбокса
                checkbox.addEventListener('change', function() {
                    updateReasonsField();  // Обновляем скрытое поле при изменении
                });

                container.appendChild(checkbox);
                container.appendChild(document.createTextNode(' '));
                container.appendChild(label);
                container.appendChild(document.createElement('br')); // Для перевода строки
            });
        });
});

// Собираем выбранные причины и записываем их в скрытое поле
function updateReasonsField() {
    const selectedReasons = [];
    document.querySelectorAll('#reasonChecks input[type="checkbox"]:checked').forEach((checkbox) => {
        selectedReasons.push(checkbox.value);  // Собираем имя причины
    });
    document.getElementById('selectedReasonsField').value = selectedReasons.join(', ');  // Обновляем скрытое поле
}

// При отправке формы еще раз обновляем скрытое поле, на всякий случай
document.getElementById('submitTaskForm').addEventListener('click', function() {
    updateReasonsField();  // Обновляем строку с причинами в скрытом поле перед отправкой формы
});


</script>

    <style>
        .modal-backdrop{
            z-index: 0;
        }
        .modal {
            margin: 4.75rem;
        }
    </style>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    {% block content %}
    {% endblock %}

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'dogovornoy/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'dogovornoy/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'dogovornoy/vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'dogovornoy/vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'dogovornoy/vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'dogovornoy/vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'dogovornoy/vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'dogovornoy/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'dogovornoy/js/main.js' %}"></script>

</body>

</html>