{% extends 'dogovornoy/base.html' %}
{% load static %}

{% block content %}

<!-- Recent Page Title -->
<div class="pagetitle">
    <h1>База клиентов партнеров</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../../media/avatars/index.html">Главная</a></li>
            <li class="breadcrumb-item active">База клиентов партнеров</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<div class="col-lg-8">
    <div class="card">
        <div class="card-body">
            <form method="GET" >

                    <div class="row mb-3">
                        <input type="text" class="form-control" name="q" placeholder="Общий поиск">
                    </div>

                    <div class="row mb-3">
                        <input type="text" class="form-control" name="object_number" placeholder="Номер объекта">
                    </div>

                    <div class="row mb-3">
                        <input type="text" class="form-control" name="gsm_number" placeholder="Номер GSM">
                    </div>

                    <div class="row mb-3">
                      <select class="form-select" name="company_name" placeholder="company name">
                          {% if not company_name %}
                            <option selected disabled>Выберите компанию...</option>
                          {% else %}
                            <option disabled>Выберите компанию...</option>
                          {% endif %}
                          {% for company in company_partners %}
                            <option value="{{ company.0 }}" {% if company.0 == company_name %}selected{% endif %}>{{ company.1 }}</option>
                          {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Поиск по базе</button>

                </div>
            </form>
        </div>
    </div>
</div>



<!-- Recent Таблица клиентов -->
<div class="col-lg-12">
    <p>Всего записей: {{ total_entries }}</p>
    <div class="card recent-sales overflow-auto">

        <div class="card-body">

<!--            <table class="table table-striped datatable" id="table_bazadog">-->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col-2">Компания</th>
                    <th scope="col-2">№ объекта</th>
                    <th scope="col-2">№ GSM</th>
                    <th scope="col-4">Наименование</th>
                    <th scope="col-4">Адрес</th>
                    <th scope="col-2">Тип объекта</th>
                    <th scope="col-2">Дата подк</th>
                    <th scope="col-2">Дата откл</th>
                    <th scope="col-1">Часы в месяц</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for k in klienty_partners %}

                    {% if k.date_otkluchenia %}
                        <tr class="otklycheniy">
                            {% else %}
                        <tr>
                    {% endif %}

                    <td>{{k.company_name}}</td>
                    <td>{{k.object_number}}</td>
                    <td>{{k.gsm_number}}</td>
                    <td>{{k.name_object}}</td>
                    <td>{{k.adres}}</td>
                    <td>{{k.type_object}}</td>
                    {% if k.date_podkluchenia %}
                        <td>{{k.date_podkluchenia}}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if k.date_otkluchenia %}
                        <td>{{k.date_otkluchenia}}</td>
                        {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>{{k.hours_mounth}}</td>
                    <td><a href="{{ k.get_absolute_url }}">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-folder-symlink-fill"></i>
                        </button>
                    </a></td>
                    <td><a href="{% url 'update_client_partner' k.pk %}">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    </a></td>
                    <td><a href="{% url 'delete_client_partners' k.pk %}">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </a></td>


                    <td>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#copyClientModal-{{ k.pk }}">
                            <i class="bi bi-files"></i>
                        </button>
                    </td>

                    <!-- Модальное окно -->
                    <div class="modal fade" id="copyClientModal-{{ k.pk }}" tabindex="-1" aria-labelledby="copyClientModalLabel-{{ k.pk }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="copyClientModalLabel-{{ k.pk }}">Копирование клиента</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    Вы действительно хотите скопировать этого клиента {{ k.name_object }}?
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                    <a href="{% url 'copy_client_partner' k.pk %}">
                                        <button type="button" class="btn btn-primary">Копировать</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
                {% endfor %}


                </tbody>
            </table>

        </div>

        <!-- Pagination with icons -->
                <ul class="pagination ml">
                    {% if klienty_partners.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="{{ pagination_url }}&page={{ klienty_partners.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>

                      </li>
                    {% endif %}

                    {% if klienty_partners.paginator.num_pages > 1 %}
                        {% if klienty_partners.number > 3 %}
                            <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                        {% endif %}

                        {% for page_num in klienty_partners.paginator.page_range %}
                            {% if page_num > klienty_partners.number|add:'-9' and page_num < klienty_partners.number|add:'9' %}
                                {% if page_num == klienty_partners.number %}
                                    <li class="page-item active"><a class="page-link" >{{ page_num }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{{ pagination_url }}&page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if klienty_partners.number < klienty_partners.paginator.num_pages|add:'-9' %}
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item active"><a class="page-link" href="{{ pagination_url }}&page={{ klienty_partners.paginator.num_pages }}">{{ klienty_partners.paginator.num_pages }}</a></li>
                        {% endif %}
                    {% endif %}

                    {% if klienty_partners.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="{{ pagination_url }}&page={{ klienty_partners.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    {% endif %}
                </ul>
              </nav><!-- End Pagination with icons -->
    </div>
</div><!-- End Recent Sales -->
{% endblock %}
