{% extends 'dogovornoy/base.html' %}
{% load static %}

{% block content %}


<!-- Recent Page Title -->
<div class="pagetitle">
    <h1>База клиентов</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../../media/avatars/index.html">Главная</a></li>
            <li class="breadcrumb-item active">База клиентов</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<div class="col-lg-8">
    <div class="card">
        <div class="card-body">
            <form method="GET" >

                    <div class="row mb-3">
                        <input type="text" class="form-control" name="q" placeholder="Общий поиск">
                    </div>

                    <div class="row mb-3">
                        <input type="text" class="form-control" name="object_number" placeholder="Номер объекта">
                    </div>

                    <div class="row mb-3">
                      <select class="form-select" name="company_name" placeholder="company name">
                          {% if not company_name %}
                            <option selected disabled>Выберите компанию...</option>
                          {% else %}
                            <option disabled>Выберите компанию...</option>
                          {% endif %}
                          {% for company in company_names %}
                            <option value="{{ company.0 }}" {% if company.0 == company_name %}selected{% endif %}>{{ company.1 }}</option>
                          {% endfor %}
                        </select>
                    </div>

                    <div class="row mb-3">
                        <input type="text" class="form-control" name="dogovor_number" placeholder="Номер договора">
                    </div>

                    <div class="row mb-3">
                        <input type="text" class="form-control" name="gruppa_reagirovania" placeholder="Группа реагирования">
                    </div>

                    <button type="submit" class="btn btn-primary">Поиск по базе</button>



            </form>

            <a href="{% url 'baza_dogovorov' %}" style="font-size: 20px; margin-bottom: 20px;right: 30px; bottom: 2px; display:block; position: absolute;">
                <i class="bi bi-arrow-clockwise"></i>
                <span>Сбросить фильтры</span>
            </a>
        </div>
    </div>
</div>



<!-- Recent Таблица клиентов -->
<div class="col-lg-12">
    <p>Всего записей: {{ total_entries }}</p>
    <div class="card recent-sales overflow-auto">

        <div class="card-body">

<!--            <table class="table table-striped datatable" id="table_bazadog">-->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Компания</th>
                    <th scope="col">№ дог.</th>
                    <th scope="col">№ объекта</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Тип объекта</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Дата подключения</th>
                    <th scope="col">Дата отк</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for k in klienty %}

                {% if k.date_otklulchenia %}
                <tr class="otklycheniy">
                    {% else %}
                <tr>
                    {% endif %}

                    <td>{{k.id}}</td>
                    <td>{{k.company_name}}</td>
                    <td>{{k.dogovor_number}}</td>
                    <td>{{k.object_number}}</td>
                    <td>{{k.klient_name}}</td>
                    <td>{{k.name_object}}</td>
                    <td>{{k.adres}}</td>
                    <td>{{k.telephone}}</td>
                    {% if k.date_podkluchenia %}
                        <td>{{k.date_podkluchenia}}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if k.date_otklulchenia %}
                        <td>{{k.date_otklulchenia}}</td>
                        {% else %}
                        <td>-</td>
                    {% endif %}
                    <td><a href="{{ k.get_absolute_url }}">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-folder-symlink-fill"></i>
                        </button>
                    </a></td>
                    <td><a href="{% url 'update_client' k.pk %}">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                    </a></td>
                    <td><a href="{% url 'delete_client' k.pk %}">
                        <button type="button" class="btn btn-secondary">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </a></td>
                    <td>
                        <a href="{% url 'create_dogovor' k.pk %}">
                            <button type="button" class="btn btn-secondary">
                                <i class="bi bi-newspaper"></i>
                            </button>
                        </a>
                    </td>

                    <!-- Кнопка для открытия модального окна -->
                    <td>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#createTaskModal-{{ k.pk }}">
                            <i class="bi bi-list-task"></i>
                        </button>
                    </td>

                     <!-- Кнопка для копирования клиента -->
                        <td>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#copyClientModal-{{ k.pk }}">
                                <i class="bi bi-files"></i>
                            </button>
                        </td>

                    <td>
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#CreateTechnicalTask">
                                <i class="bi bi-plus"></i>
                            </button>
                        </td>

                    </tr>

                <!-- Форма внутри модального окна -->
                <div class="modal fade" id="createTaskModal-{{ k.pk }}" tabindex="-1" aria-labelledby="createTaskModalLabel-{{ k.pk }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createTaskModalLabel-{{ k.pk }}">Создать задачу</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form id="TaskForm-{{ k.pk }}" method="post" action="{% url 'baza_dogovorov' %}">
                                {% csrf_token %}
                                <!-- Скрытое поле для передачи client_id -->
                                <input type="hidden" name="client_id" value="{{ k.pk }}">

                                <div class="modal-body">
                                    <div class="mb-3">
                                        {{ task_form.description.label_tag }}
                                        {{ task_form.description }}
                                    </div>
                                    <div class="mb-3">
                                        {{ task_form.assigned_to.label_tag }}
                                        {{ task_form.assigned_to }}
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-primary">Создать задачу</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Модальное окно для подтверждения копирования клиента -->
                <div class="modal fade" id="copyClientModal-{{ k.pk }}" tabindex="-1" aria-labelledby="copyClientModalLabel-{{ k.pk }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="copyClientModalLabel-{{ k.pk }}">Скопировать клиента</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите скопировать клиента "{{ k.klient_name }}"?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <a href="{% url 'copy_client' k.pk %}">
                                    <button type="button" class="btn btn-primary">Скопировать</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}


                </tbody>
            </table>

        </div>

        <!-- Pagination with icons -->
                <ul class="pagination ml">
                    {% if klienty.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="{{ pagination_url }}&page={{ klienty.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>

                      </li>
                    {% endif %}

                    {% if klienty.paginator.num_pages > 1 %}
                        {% if klienty.number > 3 %}
                            <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                        {% endif %}

                        {% for page_num in klienty.paginator.page_range %}
                            {% if page_num > klienty.number|add:'-9' and page_num < klienty.number|add:'9' %}
                                {% if page_num == klienty.number %}
                                    <li class="page-item active"><a class="page-link" >{{ page_num }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="{{ pagination_url }}&page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if klienty.number < klienty.paginator.num_pages|add:'-9' %}
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item active"><a class="page-link" href="{{ pagination_url }}&page={{ klienty.paginator.num_pages }}">{{ klienty.paginator.num_pages }}</a></li>
                        {% endif %}
                    {% endif %}

                    {% if klienty.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="{{ pagination_url }}&page={{ klienty.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    {% endif %}
                </ul>
              </nav><!-- End Pagination with icons -->
    </div>
</div><!-- End Recent Sales -->

    <div class="modal fade" id="CreateTechnicalTask" tabindex="-1" aria-labelledby="CreateTechnicalTask" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateTechnicalTask">Заявка технику</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'create_technical_task' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="technician_id" class="form-label">Техник:</label>
                        <select name="technician_id" class="form-select" id="userSelect">
                            <!-- Здесь добавляются пользователи через JS -->
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="reasonChecks">Причины:</label>
                        <div id="reasonChecks"></div>
                    </div>
                    <div class="mb-3">
                        <label for="client_object_id" class="form-label">ID клиента база Raptor:</label>
                        <input type="text" name="client_object_id" class="form-control" id="client_object_id">
                    </div>
                    <div class="mb-3">
                        <label for="note" class="form-label">Заметка:</label>
                        <textarea name="note" class="form-control" id="note"></textarea>
                    </div>

                    <!-- Скрытое поле для хранения строкового списка выбранных причин -->
                    <input type="hidden" name="reason" id="selectedReasonsField">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Отправить задачу</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <script>

document.addEventListener('DOMContentLoaded', function() {
    fetch('{% url "api_technicians" %}')
        .then(response => response.json())
        .then(data => {
            const select = document.getElementById('userSelect');
            data.forEach(user => {
                const option = new Option(user.name, user.id);
                select.add(option);
            });
        });
});

document.addEventListener('DOMContentLoaded', function() {
    fetch('{% url "api_task_reasons" %}')
        .then(response => response.json())
        .then(data => {
            const container = document.getElementById('reasonChecks');
            data.forEach(reason => {
                const checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.id = 'reason-' + reason.id;
                checkbox.value = reason.reason;  // Используем название причины как значение
                const label = document.createElement('label');
                label.htmlFor = 'reason-' + reason.id;
                label.textContent = reason.reason;

                // Добавляем обработчик изменения для каждого чекбокса
                checkbox.addEventListener('change', function() {
                    updateReasonsField();  // Обновляем скрытое поле при изменении
                });

                container.appendChild(checkbox);
                container.appendChild(document.createTextNode(' '));
                container.appendChild(label);
                container.appendChild(document.createElement('br')); // Для перевода строки
            });
        });
});

// Собираем выбранные причины и записываем их в скрытое поле
function updateReasonsField() {
    const selectedReasons = [];
    document.querySelectorAll('#reasonChecks input[type="checkbox"]:checked').forEach((checkbox) => {
        selectedReasons.push(checkbox.value);  // Собираем имя причины
    });
    document.getElementById('selectedReasonsField').value = selectedReasons.join(', ');  // Обновляем скрытое поле
}

// При отправке формы еще раз обновляем скрытое поле, на всякий случай
document.getElementById('submitTaskForm').addEventListener('click', function() {
    updateReasonsField();  // Обновляем строку с причинами в скрытом поле перед отправкой формы
});


</script>

{% endblock %}
