{% extends 'dogovornoy/base.html' %}
{% load static %}


{% block content %}
<div class="pagetitle">
    <h1>Импорт объектов из Exel в базу данных</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../../media/avatars/index.html">Главная</a></li>
            <li class="breadcrumb-item active">Импорт объектов</li>
        </ol>
    </nav>
</div>

<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-success rounded-pill">Нажмите что бы загрузить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}