{% extends 'dogovornoy/base.html' %}

{% block content %}
<div class="container">
    <h1>Отчет: Количество часов охраны (Юридические лица)</h1>
    <p>Отчет за период: {{ start_of_month|date:"d.m.Y" }} - {{ end_of_month|date:"d.m.Y" }}</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Компания</th>
                <th>Сумма часов</th>
            </tr>
        </thead>
        <tbody>
            {% for item in report_data %}
                <tr>
                    <td>{{ item.company_name__polnoe_name }}</td>
                    <td>{{ item.total_hours }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Данные отсутствуют</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}