{% extends 'dogovornoy/base.html' %}
{% load static %}

{% block content %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" defer></script>
    <style>
        #map {
            height: 100vh;
            width: 100%;
        }
    </style>
<body>
    <h1>Карта тревог</h1>

    <div id="map"></div>

    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 43.2567, lng: 76.9286 }, // Алматы
                zoom: 12,
            });

            const apiToken = "{{ user_api_token }}";
            // Загружаем тревоги через API
            fetch('/api/panicbutton/get_alarms/', {
                headers: { "Authorization": `Token ${apiToken}` }
            })
            .then(response => response.json())
            .then(data => {
            if (!Array.isArray(data)) {
                console.error("Ошибка: получены не массивные данные", data);
                return;
            }

            data.forEach(alarm => {
                new google.maps.Marker({
                    position: { lat: alarm.latitude, lng: alarm.longitude },
                    map,
                    title: `Тревога: ${alarm.client_name}`,
                });
            });
        })
            .catch(error => console.error("Ошибка загрузки тревог:", error));
        }


        const socket = new WebSocket("wss://kateryushin.pro/ws/alarms/");

        socket.onopen = function() {
            console.log("🔗 Соединение установлено!");
        };

        let alarmAudio = new Audio('/static/sounds/alarm.mp3');

        function enableSound() {
            alarmAudio.play();
            console.log("🔊 Аудио разрешено пользователем");
        }

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            alarmAudio.play().catch(error => {
                console.warn("🚨 Браузер заблокировал автозапуск аудио. Разрешите его вручную.");
            });
            console.log("Включаем звук");
            console.log("🚨 Новая тревога:", data);

            // Добавляем тревогу на карту
            addMarker(data.latitude, data.longitude, `Тревога от ${data.client_name}`);
        };

        socket.onerror = function(error) {
            console.error("❌ Ошибка WebSocket:", error);
        };

        socket.onclose = function(event) {
            console.warn("🔴 Соединение закрыто:", event);
        };

    </script>
</body>
{% endblock %}