{% extends 'dogovornoy/base_login.html' %}

{% block content %}

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3">

                <div class="card-body">
                    <form class="row g-3  needs-validation" action="" method="post">
                        {% csrf_token %}
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Вход в аккаунт</h5>
                    <p class="text-center small">Введите логин и пароль</p>
                  </div>
                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Логин</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="username" required>
                        <div class="invalid-feedback">Поле логин не заполнено</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Пароль</label>
                      <input type="password" name="password" class="form-control" id="password" required>
                      <div class="invalid-feedback">Поле пароль не заполнено</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Запомнить пароль</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Войти</button>
                    </div>

                  </form>

                </div>
              </div>



            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

{% endblock %}